**Case - Bibliotecas**

Na era digital em que se vive atualmente, principalmente durante e pós a Pandemia, a utilização da internet na coleta de dados, troca de comunicações e criação de novas operações dentro da nuvem (online). Com esse advento da necessidade de internet no nosso dia a dia, diversas novas empresas veem surgindo ao longo do mundo, oferecendo novos pacotes mais baratos e mais acessíveis a toda população.

Neste contexto, você utilizando o dataset [Internet Prices around 200+ countries in 2022](https://www.kaggle.com/datasets/ramjasmaurya/1-gb-internet-price?resource=download), onde consta o levantamento de dados acerca dos planos de internet e população de mais de 200 países. Seu objetivo é ler e entender os 3 datasets apresentados, que se completam em dados e informações. Ao final desse entendimento, responder  as 10 perguntas abaixo:
* 1 - Quantas empresas foram consultadas?
* 2 - Calcule a [Variação percentual](https://calculadorajuroscompostos.com.br/como-calcular-a-variacao-percentual-entre-dois-valores/#:~:text=Para%20calcularmos%20a%20varia%C3%A7%C3%A3o%20percentual,maior%2C%20teremos%20uma%20redu%C3%A7%C3%A3o%20percentual) entre o preço médio da internet entre o início 2020 e 2021, usando como base o preço de 2021.
* 3 - Calcule o preço médio geral da internet dos países que sejam da SOUTH AMERICA. Dica: 1 - Se dejesa filtrar uma dataframe por um valor de uma coluna basta você fazer df[df['Nome da coluna'] == valor].2 - Não calcule a média da média de preços, você deve descobrir a soma total dos preços destes países e depois dividir pelo número total de planos.
* 4 - Dos países que foram avaliados, qual os 5 países que tem a maior taxa de usabilidade de internet em relação a população?
* 5 - Faça um gráfico que mostre o número de países que apresentem uma taxa de usabilidade maior que 75% agrupados por Continente?
* 6 - Calcule a amplitude de preço entre os planos de internet. Dica: Amplitude é calculado como Maior valor - Menor valor.
* 7 - Usando somente o [seabron](https://seaborn.pydata.org/) e [matplotlib](https://matplotlib.org/), construa um gráfico que mostre o valor médio, máximo e mínimo dos maiores preços para cada região.
* 8 - Supondo que a gente more no Reino Unido (United Kingdom), usando a velocidade média e o preço médio, quantos Dolares eu pagaria se utiliza-se uma hora de internet?. Dica 1: 1 Mbits = 0,000125 Gigabytes. Dica 2: Filtre o dataframe conforme mencionado acima, crie uma variável com valor que aparecer na coluna ou utilize o método pandas [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html).
* 9 - Utilizando os mesmos parâmetros da etapa anterior, supondo que você seja um dono de uma empresa que precisa instalar a internet no prédio e precisa fazer um orçamento. A empresa responsável disse que se você contratar um pacote até 50000Gb por dia é 300 Dolares, até 65000 é 350 Dolares e acima disso é 450 Dolares. Supondo que você tenha 300 funcionários, trabalhando 8 horas no dia, qual plano seria ideal para você?
* 10 - Somente com uma visualização gráfica, comparando o preço médio em 2020 e 2021, com uma linha de tendência (Gráfico identidade x = y), conclusa se o preço médio da internet ficou mais barato ou caro de 2020 para 2021.





Instruções primordiais: Alguns dados estão ausentes nos 3 datasets, mas representam pouco perto da análise total. Portanto, utilize os 3 datasets fornecidos (df1,df2,df3). 

df1 - Descritivo das colunas do dataset:

* country_code - Country code
* country_name - Country Name
* country_continental - Continental region
* num_internet_plans - Num. of internet Plans
* avg_price - Average price of 1GB (USD
* min_price - Cheapest 1GB for 30 days (USD)
* max_price - Most expensive 1GB (USD)
* avg_price_start_2021 - Average price of 1GB (USD  at the start of 2021)
* avg_price_start_2020 - Average price of 1GB (USD – at start of 2020)


df2 - Descritivo das colunas do dataset:

* country_name - Country Name
* avg_speed - Avg speed in (Mbit/s) by Ookla


df3 - Descritivo das colunas do dataset:

* country_name - Country Name
* country_subregion - Country subregion
* country_region - Continental region
* internet_users - Num. of people who uses internet Plans
* population - population of country

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df1 = pd.read_csv('df1.csv', sep = ',')
df2 = pd.read_csv('df2.csv', sep = ',')
df3 = pd.read_csv('df3.csv', sep = ',')

1º Questão: Quantas empresas foram consultadas?

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            224 non-null    int64
 1   country_code          224 non-null    object
 2   country_name          224 non-null    object
 3   country_continental   224 non-null    object
 4   num_internet_plans    224 non-null    float64
 5   avg_price             224 non-null    float64
 6   min_price             224 non-null    float64
 7   max_price             224 non-null    float64
 8   avg_price_start_2021  224 non-null    float64
 9   avg_price_start_2020  224 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 17.6+ KB

In [ ]:
df1['num_internet_plans'].sum()

6063.0

2º Questão: Calcule a Variação percentual entre o preço médio da internet entre o início 2020 e 2021, usando como base o preço de 2021.

In [ ]:
df1['variation_rate'] = (df1['avg_price_start_2021'] - df1['avg_price_start_2020'])/df1['avg_price_start_2020']*100
df1

,Unnamed: 0,country_code,country_name,country_continental,num_internet_plans,avg_price,min_price,max_price,avg_price_start_2021,avg_price_start_2020,variation_rate
0,0,IL,Israel,NEAR EAST,27.0,0.05,0.02,20.95,0.11,0.90,-87.777778
1,1,KG,Kyrgyzstan,CIS (FORMER USSR),20.0,0.15,0.10,7.08,0.21,0.27,-22.222222
2,2,FJ,Fiji,OCEANIA,18.0,0.19,0.05,0.85,0.59,3.57,-83.473389
3,3,IT,Italy,WESTERN EUROPE,29.0,0.27,0.09,3.54,0.43,1.73,-75.144509
4,4,SD,Sudan,SUB-SAHARAN AFRICA,33.0,0.27,0.03,0.92,0.63,0.68,-7.352941
...,...,...,...,...,...,...,...,...,...,...,...
219,225,MW,Malawi,SUB-SAHARAN AFRICA,5.0,25.46,20.37,25.46,27.41,3.59,663.509749
220,226,ST,São Tomé and Príncipe,SUB-SAHARAN AFRICA,16.0,30.97,13.27,121.65,28.26,5.33,430.206379
221,227,SH,Saint Helena,SUB-SAHARAN AFRICA,4.0,39.87,38.57,51.42,52.50,6.04,769.205298
222,228,FK,Falkland Islands,SOUTH AMERICA,4.0,44.56,29.71,82.26,40.41,55.47,-27.149811
223,229,GQ,Equatorial Guinea,SUB-SAHARAN AFRICA,4.0,49.67,45.16,63.22,12.78,47.39,-73.032285

3º Questão:Calcule o preço médio geral da internet dos países que sejam da SOUTH AMERICA. 
Dica:

1.   Se dejesa filtrar uma dataframe por um valor de 
uma coluna basta você fazer df[df['Nome da coluna'] == valor].
2.   Não calcule a média da média de preços, você 
deve descobrir a soma total dos preços destes países e depois dividir pelo número total de planos.

In [ ]:
df1_SouthAmerica = df1[df1['country_continental']=='SOUTH AMERICA']
(df1_SouthAmerica['avg_price']*df1_SouthAmerica['num_internet_plans']).sum()/df1_SouthAmerica['num_internet_plans'].sum()

2.1606823529411763